<div class="address-form">
  <input type="text" id="input" name="input" #input="ngModel" placeholder="MAC address" value="44:38:39:ff:ef:57" (keydown.enter)="getDetails()" [(ngModel)]="address" required pattern="[a-f A-F 0-9]{2}:[a-f A-F 0-9]{2}:[a-f A-F 0-9]{2}:[a-f A-F 0-9]{2}:[a-f A-F 0-9]{2}:[a-f A-F 0-9]{2}" >
  <button *ngIf="input.errors?.pattern" disabled type="button" name="button" (click)="getDetails()">Get details</button>
  <button *ngIf="!input.errors?.pattern" type="button" name="button" (click)="getDetails()">Get details</button>
</div>
