.address-table{
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 80px;
}
.address-table__title{
  width: 100%;
  border-bottom: 2px solid rgb(209, 209, 209);
}
.mac-address-details{
  width: 32%;
  h3{
    width: 100%;
    text-align: center;
  }
  .detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 205, 205);
    align-items: center;
    span{
      max-width: 50%;
    }
  }
}
