
<div class="address-table" *ngIf="this.details">
  <h2 class="address-table__title">{{details.macAddressDetails.searchTerm}} MAC address details</h2>
  <div class="mac-address-details">
    <button type="button" name="button" (click)='get()'>SHOW</button>

    <!-- <h1 *ngIf="details">{{companyName }}</h1> -->

    <h3>Vendor details</h3>
    <ul>
      <li class="detail"><p>OUI</p><span>{{details.vendorDetails.oui}}</span></li>
      <li class="detail"><p>is private</p><span>{{details.vendorDetails.isPrivate}}</span></li>
      <li class="detail"><p>Company name</p><span>{{details.vendorDetails.companyName}}</span></li>
      <li class="detail"><p>Company addres</p><span>{{details.vendorDetails.companyAddress}}</span></li>
      <li class="detail"><p>Country code</p><span>{{details.vendorDetails.countryCode}}</span></li>
    </ul>
  </div>
  <div class="mac-address-details">
    <h3>Block details</h3>
    <ul>
      <li class="detail"><p>Is registered</p><span>{{details.blockDetails.blockFound}}</span></li>
      <li class="detail"><p>Border left</p><span>{{details.blockDetails.borderLeft}}</span></li>
      <li class="detail"><p>Border right</p><span>{{details.blockDetails.borderRight}}</span></li>
      <li class="detail"><p>Block size</p><span>{{details.blockDetails.blockSize}}</span></li>
      <li class="detail"><p>Assignment block size</p><span>{{details.blockDetails.assignmentBlockSize}}</span></li>
    </ul>
  </div>
  <div class="mac-address-details">
    <h3>MAC address details</h3>
    <ul>
      <li class="detail"><p>Is valid</p><span>{{details.macAddressDetails.isValid}}</span></li>
      <li class="detail"><p>Virtual Machine</p><span>{{details.macAddressDetails.virtualMachine}}</span></li>
      <li class="detail"><p>Transmission type</p><span>{{details.macAddressDetails.transmissionType}}</span></li>
      <li class="detail"><p>Administration type</p><span>{{details.macAddressDetails.administrationType}}</span></li>
      <li class="detail"><p>Applications</p><span>{{details.macAddressDetails.applications[0]}}</span></li>
      <li class="detail"><p>Wireshark notes</p><span>{{details.macAddressDetails.wiresharkNotes}}</span></li>
    </ul>
  </div>
</div>
