
<div class="address-table">
  <h2 class="address-table__title">44:38:39:ff:ef:57 MAC address details</h2>
  <div class="mac-address-details">
    <button type="button" name="button" (click)='show()'>SHOW</button>

    <h1>{{state$.details.vendorDetails.companyName | async}}</h1>

    <h3>Vendor details</h3>
    <ul>
      <li class="detail"><p>OUI</p><span>44:38:39</span></li>
      <li class="detail"><p>is private</p><span>False</span></li>
      <li class="detail"><p>Company name</p><span>Cumulus network</span></li>
      <li class="detail"><p>Company addres</p><span>650 Castro Street, suite 120-245 Mountain View CA 94041 US</span></li>
      <li class="detail"><p>Country code</p><span>US</span></li>
    </ul>
  </div>
  <div class="mac-address-details">
    <h3>Vendor details</h3>
    <ul>
      <li class="detail"><p>OUI</p><span>44:38:39</span></li>
      <li class="detail"><p>is private</p><span>False</span></li>
      <li class="detail"><p>Company name</p><span>Cumulus network</span></li>
      <li class="detail"><p>Company addres</p><span>650 Castro Street, suite 120-245 Mountain View CA 94041 US</span></li>
      <li class="detail"><p>Country code</p><span>US</span></li>
    </ul>
  </div>
  <div class="mac-address-details">
    <h3>Vendor details</h3>
    <ul>
      <li class="detail"><p>OUI</p><span>44:38:39</span></li>
      <li class="detail"><p>is private</p><span>False</span></li>
      <li class="detail"><p>Company name</p><span>Cumulus network</span></li>
      <li class="detail"><p>Company addres</p><span>650 Castro Street, suite 120-245 Mountain View CA 94041 US</span></li>
      <li class="detail"><p>Country code</p><span>US</span></li>
    </ul>
  </div>
</div>
